#planos{
    background: #ffc107;
    color: #fff;
}
#precos{
    background: #ffc107;
    color: #fff; 
}
#sobre{
    background: #ffc107;
    color: #fff;
}

/* media queries */

@media (max-width: 600px){
    #planos h2{
        font-size: 2.5rem;
    }
}