#home{
    background: #ffc107;
    color: #fff;
}

.caixa{
    padding: 60px 0;
    border-bottom: 1px solid #e5e5e5;
}

footer p a{
    margin: 5px 15px;
}

/* media queries */

@media (max-width: 600px){
    #home h1{
        font-size: 2rem;
        padding-top: 2.7rem;
    }
}